<section class="colored-section" id="title">

    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar1 navbar-expand-lg navbar-dark">
        <img src="./images/books.png" alt="" class="navbar-img1">
        <a class="navbar-brand1" href="">Course Shop App</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle-items" aria-controls="navbar-toggle-items" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-toggle-items">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#courses">Courses</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link" href="#"><span>Profile</span></a>
                <div class="dropdown-content">
                  <a href="/profilepage"><span><i class="fas fa-user-circle"></i> Profile Page</span></a>
                  <a href="/login"><span><i class="fas fa-door-open"></i> Login</span></a>
                  <a href="/signup"><span><i class="fas fa-user-edit"></i> Signup</span></a>
                  <a href="/logout"><span><i class="fas fa-door-closed"></i> Logout</span></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>



      <!-- Title -->

      <div class="row">
        <div class="col-md-6">
          <h1 class="big-heading">YOU DON’T HAVE TO BE GREAT TO START, BUT YOU HAVE TO START TO BE GREAT.</h1>
          <a href="#courses" class="btn btn-lg btn-light download-button">Check our latest Courses</a>
        </div>
        <div class="col-md-6">
          <img class="title-image" src="images/img1.svg" alt="Learning Image">
        </div>
      </div>

    </div>
  </section>


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="container features-container">
      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="fas fa-check-circle fa-4x features-icon"></i>
          <h3 class="features-header">Easy to learn.</h3>
          <p class="features-body">Start today with easy to learn courses.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="fas fa-bullseye fa-4x features-icon"></i>
          <h3 class="features-header">Elite instructor's.</h3>
          <p class="features-body">We have elite team of instructors.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="fas fa-heart fa-4x features-icon"></i>
          <h3 class="features-header">Top standard education.</h3>
          <p class="features-body">Trending and up-to-date courses for steady learning.</p>
        </div>
      </div>
    </div>

  </section>


  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonial-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum accusantium veritatis tenetur? At odio rem rerum quam sed non dolore aspernatur autem natus, eveniet ducimus et veritatis quisquam velit quod!.</h2>
          <img class="testimonial-image" src="images/img2.png" alt="user1-profile"><br>
          <em>User1, City1</em>
        </div>

        <div class="carousel-item">
          <h2 class="testimonial-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, nobis laborum saepe suscipit praesentium cum ex voluptate quasi quo aspernatur fugiat facere dolores assumenda et asperiores cupiditate itaque corporis! Dolores..</h2>
          <img class="testimonial-image" src="images/img3.png" alt="user2-profile"><br>
          <em>User2, City2</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </section>


  <!-- Courses -->

  <section class="white-section" id="courses">

    <h2>Search Your Courses here...</h2>
    <br>
    <div class="courses-sb">
      <input class="courses-searchbar" type="text" placeholder="Search..">
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    <br>
      <div class="row">
      <div class="courses-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <img class="card-header-image" src="./images/books.png" alt="Course Image">
          </div>
          <div class="card-body">
            <h2 class="card-body-text1">Web Development</h2>
            <hr>
            <p>Course Duration.</p>
            <p>Course Level.</p>
            <p>Projects in Course.</p>
            <hr>
            <h2 class="card-body-text1">Price - 599 Rs</h2>
            <hr>
            <div class="dropdown details-board">
              <button type="button" class="btn btn-lg btn-outline-dark details-button">Details</button>
              <div class="dropdown-content details-content">  
                <p>Instructor Name.</p>
                <hr>
                <p>Course Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nostrum nihil pariatur facilis deleniti, amet omnis eos eum. Id quia maxime vel natus veritatis laborum minima atque provident consequuntur?</p>
                <hr>
                <p>Course Rating.</p>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-dark buy-button">Buy</button>
          </div>
        </div>
      </div>

      <div class="courses-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <img class="card-header-image" src="./images/books.png" alt="Course Image">
          </div>
          <div class="card-body">
            <h2 class="card-body-text1">Web Development</h2>
            <hr>
            <p>Course Duration.</p>
            <p>Course Level.</p>
            <p>Projects in Course.</p>
            <hr>
            <h2 class="card-body-text1">Price - 599 Rs</h2>
            <hr>
            <div class="dropdown details-board">
              <button type="button" class="btn btn-lg btn-outline-dark details-button">Details</button>
              <div class="dropdown-content details-content">  
                <p>Instructor Name.</p>
                <hr>
                <p>Course Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nostrum nihil pariatur facilis deleniti, amet omnis eos eum. Id quia maxime vel natus veritatis laborum minima atque provident consequuntur?</p>
                <hr>
                <p>Course Rating.</p>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-dark buy-button">Buy</button>
          </div>
        </div>
      </div>

      <div class="courses-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <img class="card-header-image" src="./images/books.png" alt="Course Image">
          </div>
          <div class="card-body">
            <h2 class="card-body-text1">Web Development</h2>
            <hr>
            <p>Course Duration.</p>
            <p>Course Level.</p>
            <p>Projects in Course.</p>
            <hr>
            <h2 class="card-body-text1">Price - 599 Rs</h2>
            <hr>
            <div class="dropdown details-board">
              <button type="button" class="btn btn-lg btn-outline-dark details-button">Details</button>
              <div class="dropdown-content details-content">  
                <p>Instructor Name.</p>
                <hr>
                <p>Course Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nostrum nihil pariatur facilis deleniti, amet omnis eos eum. Id quia maxime vel natus veritatis laborum minima atque provident consequuntur?</p>
                <hr>
                <p>Course Rating.</p>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-dark buy-button">Buy</button>
          </div>
        </div>
      </div>

      <div class="courses-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <img class="card-header-image" src="./images/books.png" alt="Course Image">
          </div>
          <div class="card-body">
            <h2 class="card-body-text1">Web Development</h2>
            <hr>
            <p>Course Duration.</p>
            <p>Course Level.</p>
            <p>Projects in Course.</p>
            <hr>
            <h2 class="card-body-text1">Price - 599 Rs</h2>
            <hr>
            <div class="dropdown details-board">
              <button type="button" class="btn btn-lg btn-outline-dark details-button">Details</button>
              <div class="dropdown-content details-content">  
                <p>Instructor Name.</p>
                <hr>
                <p>Course Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nostrum nihil pariatur facilis deleniti, amet omnis eos eum. Id quia maxime vel natus veritatis laborum minima atque provident consequuntur?</p>
                <hr>
                <p>Course Rating.</p>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-dark buy-button">Buy</button>
          </div>
        </div>
      </div>

      <div class="courses-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <img class="card-header-image" src="./images/books.png" alt="Course Image">
          </div>
          <div class="card-body">
            <h2 class="card-body-text1">Web Development</h2>
            <hr>
            <p>Course Duration.</p>
            <p>Course Level.</p>
            <p>Projects in Course.</p>
            <hr>
            <h2 class="card-body-text1">Price - 599 Rs</h2>
            <hr>
            <div class="dropdown details-board">
              <button type="button" class="btn btn-lg btn-outline-dark details-button">Details</button>
              <div class="dropdown-content details-content">  
                <p>Instructor Name.</p>
                <hr>
                <p>Course Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nostrum nihil pariatur facilis deleniti, amet omnis eos eum. Id quia maxime vel natus veritatis laborum minima atque provident consequuntur?</p>
                <hr>
                <p>Course Rating.</p>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-dark buy-button">Buy</button>
          </div>
        </div>
      </div>

      <div class="courses-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <img class="card-header-image" src="./images/books.png" alt="Course Image">
          </div>
          <div class="card-body">
            <h2 class="card-body-text1">Web Development</h2>
            <hr>
            <p>Course Duration.</p>
            <p>Course Level.</p>
            <p>Projects in Course.</p>
            <hr>
            <h2 class="card-body-text1">Price - 599 Rs</h2>
            <hr>
            <div class="dropdown details-board">
              <button type="button" class="btn btn-lg btn-outline-dark details-button">Details</button>
              <div class="dropdown-content details-content">  
                <p>Instructor Name.</p>
                <hr>
                <p>Course Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nostrum nihil pariatur facilis deleniti, amet omnis eos eum. Id quia maxime vel natus veritatis laborum minima atque provident consequuntur?</p>
                <hr>
                <p>Course Rating.</p>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-dark buy-button">Buy</button>
          </div>
        </div>
      </div>

      <div class="courses-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <img class="card-header-image" src="./images/books.png" alt="Course Image">
          </div>
          <div class="card-body">
            <h2 class="card-body-text1">Web Development</h2>
            <hr>
            <p>Course Duration.</p>
            <p>Course Level.</p>
            <p>Projects in Course.</p>
            <hr>
            <h2 class="card-body-text1">Price - 599 Rs</h2>
            <hr>
            <div class="dropdown details-board">
              <button type="button" class="btn btn-lg btn-outline-dark details-button">Details</button>
              <div class="dropdown-content details-content">  
                <p>Instructor Name.</p>
                <hr>
                <p>Course Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nostrum nihil pariatur facilis deleniti, amet omnis eos eum. Id quia maxime vel natus veritatis laborum minima atque provident consequuntur?</p>
                <hr>
                <p>Course Rating.</p>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-dark buy-button">Buy</button>
          </div>
        </div>
      </div>

      <div class="courses-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <img class="card-header-image" src="./images/books.png" alt="Course Image">
          </div>
          <div class="card-body">
            <h2 class="card-body-text1">Web Development</h2>
            <hr>
            <p>Course Duration.</p>
            <p>Course Level.</p>
            <p>Projects in Course.</p>
            <hr>
            <h2 class="card-body-text1">Price - 599 Rs</h2>
            <hr>
            <div class="dropdown details-board">
              <button type="button" class="btn btn-lg btn-outline-dark details-button">Details</button>
              <div class="dropdown-content details-content">  
                <p>Instructor Name.</p>
                <hr>
                <p>Course Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nostrum nihil pariatur facilis deleniti, amet omnis eos eum. Id quia maxime vel natus veritatis laborum minima atque provident consequuntur?</p>
                <hr>
                <p>Course Rating.</p>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-dark buy-button">Buy</button>
          </div>
        </div>
      </div>

      <div class="courses-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <img class="card-header-image" src="./images/books.png" alt="Course Image">
          </div>
          <div class="card-body">
            <h2 class="card-body-text1">Web Development</h2>
            <hr>
            <p>Course Duration.</p>
            <p>Course Level.</p>
            <p>Projects in Course.</p>
            <hr>
            <h2 class="card-body-text1">Price - 599 Rs</h2>
            <hr>
            <div class="dropdown details-board">
              <button type="button" class="btn btn-lg btn-outline-dark details-button">Details</button>
              <div class="dropdown-content details-content">  
                <p>Instructor Name.</p>
                <hr>
                <p>Course Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi nostrum nihil pariatur facilis deleniti, amet omnis eos eum. Id quia maxime vel natus veritatis laborum minima atque provident consequuntur?</p>
                <hr>
                <p>Course Rating.</p>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-dark buy-button">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->

  <footer class="colored-section" id="footer">
    <i class="fab fa-twitter footer-icon"></i>
    <i class="fab fa-facebook-f footer-icon"></i>
    <i class="fab fa-instagram footer-icon"></i>
    <i class="fas fa-envelope-square footer-icon"></i>
    <p class="footer-copyright">© Copyright 2018 Course Shop App</p>

  </footer>