<!DOCTYPE html>
<html>
  <head>
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="css/logoutstyles.css" />
    <link rel="icon" href="icon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <img class="wave" src="images/logoutimg1.png" />
    <div class="container">
      <div class="img">
        <img src="images/logoutimg2.svg" />
      </div>
      <div class="logout-content">
        <form action="/">
          <img src="images/logoutimg3.png" />
          <h2 class="title">Thanks for Visiting Come back Again :)</h2>
          <h3>Are you sure you want to continue?
		  </h3>
          <input type="submit" class="btn" value="Logout?" />
          <input type="submit" class="btn" value="Cancel" />
        </form>
      </div>
    </div>
    <script type="text/javascript" src="../../public/Js/Home.js"></script>
  </body>
</html>
